footer {
  background-color: #eee;
  padding: 20px;
  border-radius: 2px;
  border: 1px dotted LightGrey;
}

main {
  margin-top: 10%;
}

body {
  background-color: #eee;
}

.field_with_errors {
  color: red;
  padding: 2px;
  border-color: red;
}